body {
background-color:rgb(247, 222, 85);
background-image: url(/images/GA.png);
background-repeat: no-repeat;
background-position: top;
}

body {
  color: black;
  text-align: center;
}



h1, h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h1{
  padding-top: 125px;
  font-size: 75px;
}

#map {
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/rip\ kobe.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#map tr td{
  font-family: 'Righteous', cursive;
  color: red;
  font-size: 2vmin;
  font-weight: bold;
  background: #91e;
  border: 1px solid #FF8504;
  width: 75px;
  height: 75px;
  text-align: center;
}

#map tr td.picked {
  background-color: transparent;
}

#map tr td.bomb {
    background-image: url(/images/bomb.png);
    vertical-align: center;
    background-size: contain;
    
}

#map tr td:hover {
    background-color:#FF8504
}

button {
  font-family: 'Righteous', cursive;
  background-color: rgba(148, 0, 211, 0.372);
  margin: 12px;
  width: 225px;
  height: 125px;
  font-size: 45px;
  
}

#win_loss {
  font-size: 100px;
  font-family: 'Righteous', cursive;
}
